/* Styling Map */

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Styling Legend */

.legend {
    background-color: #fff;
    border-radius: 4px;
    bottom: 30px;
    font: 12px/20px 'Inter', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

/* Styling Legend Title */


.legend h4 {
    margin: 0 0 10px;
}

/* Styling Legend Items */

.legend div span {
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#title {
    display: block;
    position: absolute;
    margin: 0px auto;
    font: 40px 'Inter', Arial, Helvetica, sans-serif;
    font-weight:600;
    left: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}